@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Montserrat&display=swap');

body { background-color: rgb(255, 217, 184); }

header {
    font-family: 'Cantata One', 'Cambria', Georgia, Times, serif;
    color: whitesmoke;
    background-color: rgb(138, 36, 36);
    margin: 0;
    padding: 20px;
    text-align: center;
}

body { font-family: 'Montserrat', 'Lucida Sans', 'Open Sans', sans-serif; }

main { padding: 20px; }

form {
    border: 1px double grey;
    padding: 10px;
}

legend, fieldset, button { margin: 5px; }

button { padding: 5px; }

input {
    display: block;
    margin-bottom: 8px;
}

a:link { color: rgb(43, 70, 1); }
a:visited { color: brown}
a:hover { color: rgb(114, 161, 110) }
a:active { color: black}

.hidden { display: none; }

.error-message {
    color: darkred;
    font-size: 20px;
}

@media all and (min-width: 700px) {
    main {
        padding-right: 10%;
        padding-left: 10%;
    }
    
    form { padding: 20px; }

    legend, fieldset { margin: 12px }

    input { margin-bottom: 12px; }

    h3 { font-size: 22px; }
}

